<div>
  <footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">SMARTContract<span></span></h5>
              <p>
                L'agence SMARTContract pour vous, pour la confidence et le
                meilleur.
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h6 class="widget-title">Suivez-Nous<span></span></h6>
              <a href="#"> <i class="fa fa-facebook"> </i> </a>
              <a href="#"> <i class="fa fa-twitter"> </i> </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="widget no-box">
              <h6 class="widget-title" id="contacter">
                Contactez-Nous<span></span>
              </h6>
              <p>
                Vous pouvez visiter notre agence pour le service ou nous
                contacter pour plus d'information.
              </p>
              <p><i class="fa fa-at"> </i> smartcontract@gmail.com</p>
              <p><i class="fa fa-phone"> </i> 0691367144</p>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>Copyright Design Manal © 2022. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
