<div class="main-block">
  <div class="left-part">
    <i class="fas fa-user"></i>
    <h1>l'espace client</h1>
    <p><button (click)="onContinue1()">Annuler la modification</button></p>
  </div>
  <form #myform="ngForm">
    <div class="title">
      <i class="fas fa-pencil-alt"></i>
      <h2>Modification du client</h2>
    </div>
    <div class="info">
      <input
        class="fname"
        [(ngModel)]="client.nom"
        ngModel
        type="text"
        name="nom"
        placeholder="Nom"
      />
      <input
        type="text"
        [(ngModel)]="client.prenom"
        name="prenom"
        placeholder="Prénom"
      />
      <input
        type="text"
        [(ngModel)]="client.email"
        name="email"
        placeholder="Email"
      />
      <input
        type="text"
        [(ngModel)]="client.codeClient"
        name="codeClient"
        placeholder="Code Client"
      />
    </div>
    <button (click)="update(myform)">Confirmer la modification</button>
  </form>
</div>
